help([[
imagemagick: Create, Edit, Convert and Display Images in Many Formats
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: utility, file viewer, cli, tui")
whatis("URL: https://imagemagick.org/, https://imagemagick.org/script/security-policy.php (configure security policies), https://github.com/ImageMagick/ImageMagick (source code)")
whatis([[
Description: ImageMagick is a free, open-source software suite, used for editing and manipulating digital images. It can be used to create, edit, compose, or convert bitmap images, and supports a wide range of file formats, including JPEG, PNG, GIF, TIFF, and Ultra HDR.
License: https://imagemagick.org/license/
Examples: `magick -version` and `magick -help`. First time use: Make sure to configure `~/.config/ImageMagick/policy.xml` and verify with `magick -list policy`
Warning: Only the most recent version of this software will be kept.
]])

-- Local variables
local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", home)

