help([[
[DEFUNCT] Miniconda: A Free Minimal Installer for Conda
]])

local name = myModuleName()
local version = myModuleVersion()
version = string.gsub(version, "^[.]", "") -- for hidden modules
local new = "miniconda3/" .. version .. "-py310"

whatis("Version: " .. version)
whatis("Keywords: deprecated, defunct")
whatis([[
Warning: This module is defunct and has been superseeded by module 'miniconda3'. Please use that module instead.
]])

LmodError("[DEFUNCT ERROR] The CBI '" .. name .. "/" .. version .. "' module has been renamed to '" .. new .. "'; please use that module instead")
