help([[
kitty: Cross-Platform, Fast, Feature-Rich, GPU-Based Terminal 
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: utility, cli")
whatis("URL: https://sw.kovidgoyal.net/kitty/, https://github.com/kovidgoyal/kitty/releases (releases), https://github.com/kovidgoyal/kitty (source code)")
whatis([[
Description: Kitty is an alternative terminal. It supports graphics (images and animatitions), ligatures, emojis, variable fonts and font features, and hyperlinks.
Examples: `kitten --help`, `kitten --version`, and `kitten`.
Warning: Only the most recent version of this software will be kept.
]])

-- Local variables
local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", home)
