help([[
gradle: Gradle Build Tool
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: programming")
whatis("URL: https://gradle.org/, https://gradle.org/releases/ (releases), https://github.com/gradle/gradle (source code)")
whatis([[
Description: Gradle is a highly scalable build automation tool designed to handle everything from large, multi-project enterprise builds to quick development tasks across various languages. Gradle’s modular, performance-oriented architecture seamlessly integrates with development environments, making it a go-to solution for building, testing, and deploying applications on Java, Kotlin, Scala, Android, Groovy, C++, and Swift.
Examples: `gradle --version` and `gradle --help`.
]])

-- Local variables
local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("GRADLE_HOME", home)
prepend_path("PATH", pathJoin(home, "bin"))

