help([[
RStudio Server: The RStudio Server
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: programming, R, GUI")
whatis("URL: https://rstudio.com/products/rstudio/#rstudio-server, https://www.rstudio.com/products/rstudio/release-notes/")
whatis("Description: The RStudio Server is an integrated development environment (IDE) for R that can be used from the web browser.  Example: `rserver`.  Warning: This is work under construction!")

depends_on("r")

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", pathJoin(home, "bin"))

