help([[
RSC: An RStudio Server Controller
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: programming, R, RStudio Server, GUI")
whatis("URL: https://github.com/UCSF-CBI/rstudio-server-controller, https://github.com/UCSF-CBI/rstudio-server-controller/blob/main/NEWS.md (changelog)")
whatis([[
Description: The RStudio Server Controller (RSC) is a tool for launching a personal instance of the RStudio Server on a Linux machine, which then can be access via the web browser, either directly or via SSH tunneling.
Examples: `rsc --help`, and `rsc start`.
Warning: This is work under construction!
]])

depends_on("r")
depends_on("rstudio-server")

-- Authenticate via one-time random password by default?
if isDir("/wynton") then
  -- Update default to: rsc start --auth=auth-via-env --random-password
  pushenv("RSC_AUTH", "auth-via-env")
  pushenv("RSC_PASSWORD", "random")
else
  try_load("expect")
end

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", pathJoin(home, "bin"))
