help([[
RSC: An RStudio Server Controller
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: programming, R, RStudio Server, GUI")
whatis("URL: https://github.com/UCSF-CBI/rstudio-server-controller, https://github.com/UCSF-CBI/rstudio-server-controller/blob/main/NEWS.md (changelog)")
whatis([[
Description: The RStudio Server Controller (RSC) is a tool for launching a personal instance of the RStudio Server on a Linux machine, which then can be access via the web browser, either directly or via SSH tunneling.
Examples: `rsc --help`, `rsc start`, and `rsc stop`.
]])

depends_on("r")
depends_on("rstudio-server")

local home = os.getenv("HOME")

-- System-specific settings
if isDir("/wynton") then
  -- Update default to: rsc start --auth=auth-via-env --random-password
  pushenv("RSC_AUTH", "auth-via-env")
  pushenv("RSC_PASSWORD", "random")
  if home and string.find(home, "/protected/") then
    pushenv("RSC_SSH_LOGIN_HOSTNAME", "plog1.wynton.ucsf.edu")
  else
    pushenv("RSC_SSH_LOGIN_HOSTNAME", "log1.wynton.ucsf.edu")
  end
elseif isDir("/c4") then
    pushenv("RSC_SSH_LOGIN_HOSTNAME", "c4-log1.ucsf.edu")
else
  try_load("expect")
end

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", pathJoin(home, "bin"))


-- Temporary workaround for https://github.com/UCSF-CBI/rstudio-server-controller/issues/91 /2023-12-15
setenv("PORT4ME_PORT_COMMAND", "netstat")
