help([[
Bowtie: A Fast and Sensitive Gapped Read Aligner
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: sequencing")
whatis("URL: http://bowtie-bio.sourceforge.net/index.shtml")
whatis("Description: Bowtie is an ultrafast, memory-efficient short read aligner. _NOTE: This is Bowtie v1 - not v2_.  Example: `bowtie --version` and `ls $BOWTIE_HOME/{genomes,indexes}`")

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)
prepend_path("PATH", home)
setenv("BOWTIE_HOME", home)


