help([[
go: The Go Programming Language
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: cli, shell")
whatis("URL: https://go.dev/, https://go.dev/doc/devel/release (changelog), https://go.dev/dl/ (releases), https://github.com/golang (source code)")
whatis([[
Description: Build simple, secure, scalable systems with Go. Go has two major releases each year, e.g. go 1.24 (2025-02-11), 1.25 (2025-08-12), 1.26 (2026-02-10).
Examples: `go version` and `go help`.
]])

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

setenv("GOROOT", home)
prepend_path("PATH", pathJoin(home, "bin"))

