help([[
R: The R Programming Language
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: Programming, Statistics")
whatis("URL: https://www.r-project.org/")
whatis("Description: The R programming language. Examples: `R --version` and `Rscript --version`.")

local name = "R"
local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", pathJoin(home, "bin"))
prepend_path("MANPATH", pathJoin(home, "share", "man"))

-- A custom installed R may not be compatible with R from the Linux distro
-- TODO: Enable this /HB 2019-08-14
-- setenv("R_LIBS_USER","~/R/%p-library/%v-CBI")

if version == "3.6.0" then
  setenv("R_INSTALL_STAGED", "false")
end

-- In-house env var for local CRAN mirror
setenv("R_LOCAL_CRAN", "file://" .. pathJoin(os.getenv("CBI_SHARED_ROOT"), "mirrors", "r-mirrors", "cran"))
