help([[
TopHat: A Spliced Read Mapper for RNA-Seq
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: Programming, Statistics")
whatis("URL: https://ccb.jhu.edu/software/tophat/index.shtml, https://ccb.jhu.edu/software/tophat/index.shtml (changelog), https://github.com/infphilo/tophat (source code)")
whatis([[
Description: TopHat is a fast splice junction mapper for RNA-Seq reads. It aligns RNA-Seq reads to mammalian-sized genomes using the ultra high-throughput short read aligner Bowtie, and then analyzes the mapping results to identify splice junctions between exons.
Examples: `tophat --version`.
]])

-- TopHat requires Python 2. If 'python2' is not already on the PATH,
-- try to provide it by loading the 'miniforge3-python2' module.
local function on_path(exec)
  for dir in string.gmatch(os.getenv("PATH") or "", "[^:]+") do
    if isFile(pathJoin(dir, exec)) then
      return true
    end
  end
  return false
end

if not on_path("python2") then
  try_load("miniforge3-python2")
end

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", home)

