help([[
VarScan: Variant Detection in Massively Parallel Sequencing Data
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: high-throughput sequencing")
whatis("URL: https://dkoboldt.github.io/varscan/, https://github.com/dkoboldt/varscan/releases (changelog), https://github.com/dkoboldt/varscan (source code)")
whatis([[
Description: VarScan is a platform-independent mutation caller for targeted, exome, and whole-genome resequencing data generated on Illumina, SOLiD, Life/PGM, Roche/454, and similar instruments.
Examples: `varscan`, which is an alias to `java -jar $VARSCAN_HOME/VarScan.jar`.
]])

local root = os.getenv("SOFTWARE_ROOT_CBI")
name = "VarScan"
local home = pathJoin(root, name .. "-" .. version)
pushenv("VARSCAN_HOME", home)

local bash = 'java -jar "$VARSCAN_HOME/VarScan.jar" "$@"'
local csh  = 'java -jar "$VARSCAN_HOME/VarScan.jar" $*'
set_shell_function("varscan", bash, csh)

-- Tweak Java for the current environment
depends_on("java-tweaks")
