help([[
sioyek: A PDF Viewer Designed for Reading Research Papers and Technical Books
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: utility, viewer, reader, pdf")
whatis("URL: https://sioyek.info/, https://sioyek-documentation.readthedocs.io/en/latest/ (documentation), https://github.com/ahrm/sioyek (source code), https://github.com/ahrm/sioyek/releases (changelog)")
whatis([[
Description: 
Examples: `sioyek --version`, `sioyek --help`, `sioyek` (quick reference manual).
]])

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", home)
