help([[
muTect: Identification of Somatic Point Mutations in Next Generation Sequencing Data of Cancer Genomes
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: sequencing, genome")
whatis("URL: https://software.broadinstitute.org/cancer/cga/mutect, https://github.com/broadinstitute/mutect (source code)")
whatis([[
Description: MuTect is a method developed at the Broad Institute for the reliable and accurate identification of somatic point mutations in next generation sequencing data of cancer genomes.
Examples: `mutect`, which is short for `java -Xmx2g -jar "$MUTECT_JAR"`.
]])

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

if (version == "1.0.27783") then
  -- muTect 1.0.27783 requires Java (<= 1.7)
  local cluster = os.getenv("CLUSTER")
  if (cluster == "tipcc") then
    load("jdk/1.7.0")
  else
--    depends_on("openjdk/1.6.0")
  end
end

-- Validate proper Java version for older versions of MuTect
if string.match(version, "^1[.][01]") then
  local bfr = capture("java -version 2>&1")
  for line in string.gmatch(bfr, "[^\n]+") do
    if string.match(line, "version") then
      if not string.match(line, "1[.]7") then
        LmodWarning(myModuleFullName() .. " requires Java v1.7, but you are running " .. line)
      end
    end
  end
end


name = "muTect"
pushenv("MUTECT_HOME", home)
local jarfile = name .. "-" .. version .. ".jar"
pushenv("MUTECT_JAR", pathJoin(home, jarfile))

local bash = 'java -Xmx2g -jar "$MUTECT_HOME/' .. jarfile .. '" "$@"'
local csh  = 'java -Xmx2g -jar "$MUTECT_HOME/' .. jarfile .. '" $*'
set_shell_function("mutect", bash, csh)

-- Tweak Java for the current environment
depends_on("java-tweaks")
