help([[
vmd: Preview Markdown Files 
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: utility, file viewer, cli")
whatis("URL: https://github.com/yoshuawuyts/vmd, https://github.com/yoshuawuyts/vmd/releases/ (releases)")
whatis([[
Description: Preview markdown files in a separate window. Markdown is formatted exactly the same as on GitHub.
Examples: `vmd README.md`.
License: MIT
Warning: Only the most recent version of this software will be kept.
]])

-- Local variables
local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", home)
