help([[
rstudio: RStudio Desktop
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: programming, R, GUI")
whatis("URL: https://rstudio.com/products/rstudio/#rstudio-desktop")
whatis("Description: The RStudio Desktop.  Example: `rstudio`. Warning: This software works only on the development nodes and requires that X11 Forwarding or NX is enabled.")

depends_on("r")

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", pathJoin(home, "bin"))

