help([[
SCL Ruby: Ruby
]])

local name = myModuleName()
local version = myModuleVersion()
local scl_name = "rh-ruby" .. version

whatis("Version: " .. version)
whatis("Keywords: programming, Ruby")
whatis("URL: https://www.softwarecollections.org/en/scls/rhscl/" .. scl_name .. "/")
whatis([[
Description: Enables the CentOS Software Collection (SCL) `" .. scl_name .. "` in the current environment.  This is an alternative to calling `source scl_source enable " .. scl_name .. "`, which is an approach that is not of ficially supported by RedHat/CentOS.
Examples: `irb --help`, `ruby --help`, `ruby script.rb`.
Requirement: This module is only available on CentOS 7.
]])

-- This module is only available on CentOS 7
if os.getenv("CBI_LINUX") ~= "centos7" then
  LmodError("Module '" .. myModuleFullName() .. "' is only available on CentOS 7 machines, but not on host '" .. os.getenv("HOSTNAME") .. "', which runs '" .. os.getenv("CBI_LINUX") .. "'")
end

local home = "/opt/rh/" .. scl_name

if not isDir(home) then
  LmodError("Module '" .. myModuleFullName() .. "' is not supported because this host '" .. os.getenv("HOSTNAME") .. "' does not have path '" .. home .. "'")
end
