help([[
lg3: The UCSF Costello Lab's LG3 Pipeline
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: sequencing, mutations, tumor, normal")
whatis("URL: https://github.com/UCSF-Costello-Lab/LG3_Pipeline")
whatis([[
Description: This is the LG3 Pipeline developed by the UCSF Costello Lab.
Example: `lg3 --help`.
Warning: This software can currently only run on the C4 cluster at the UCSF Cancer Center.
]])

depends_on("tree")

local path = os.getenv("SOFTWARE_ROOT_CBI")
local home = path .. "/" .. name .. "-" .. version

setenv("LG3_HOME", home)
prepend_path("PATH", pathJoin(home, "bin"))
