help([[
SCL Python: Python with Additional Utilities via CentOS Software Collections
]])

local name = myModuleName()
local version = myModuleVersion()
local scl_name = "rh-python" .. version

whatis("Version: " .. version)
whatis("Keywords: programming, Python")
whatis("URL: https://www.softwarecollections.org/en/scls/rhscl/" .. scl_name .. "/")
whatis([[
Description: Enables the CentOS Software Collection (SCL) `rh-python<version>` in the current environment.  This is an alternative to calling `source scl_source enable rh-python<version>`, which is not officially supported by RedHat/CentOS.
Examples: `python --version`, and `pip --version`.
Warning: Older versions may be removed in the future.
]])

local home = "/opt/rh/rh-python" .. version
if not isDir(home) then
  LmodError("Module '" .. myModuleFullName() .. "' is not supported because this host '" .. os.getenv("HOSTNAME") ..
 "' does not have path '" .. home .. "'")
end

