help([[
smolvm: Ship and Run Software with Isolation by Default
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: utility, file viewer, cli, tui")
whatis("URL: https://smolmachines.com/, https://github.com/smol-machines/smolvm (source code), https://github.com/smol-machines/smolvm/releases (releases)")
whatis([[
Description: Tool to build & run portable, lightweight, self-contained virtual machines.
License: Apache-2.0 + GPL-2 + LGPL-2.1
Examples: `smolvm --version` and `smolvm --help`.
Warning: Only the most recent versions of this software will be kept.
]])

-- Local variables
local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", home)
prepend_path("LD_LIBRARY_PATH", pathJoin(home, "lib"))
