help([[
openjdk: Open Java Development Kit
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: programming")
whatis("URL: https://openjdk.org/, https://jdk.java.net/ (releases)")
whatis([[
Description: Open Java Development Kit (OpenJDK) is a free and open-source implementation of the Java Platform, Standard Edition (Java SE). Long-Term Support (LTS) versions of OpenJDK are 8, 11, 17, 21, and 25.
Examples: `java -version` and `javac -version`.
]])

-- Local variables
local root = os.getenv("SOFTWARE_ROOT_CBI")

local home = pathJoin(root, name .. "-" .. version)

setenv("JAVA_HOME", home)
prepend_path("PATH", pathJoin(home, "bin"))
prepend_path("MANPATH", pathJoin(home, "man"))
prepend_path("LD_LIBRARY_PATH", pathJoin(home, "lib"))
prepend_path("CPATH", pathJoin(home, "include"))

