help([[
oraclejdk: Oracle Java Development Kit
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: programming")
whatis("URL: https://www.oracle.com/java/, https://www.oracle.com/java/technologies/downloads/ (downloads)")
whatis([[
Description: Oracle's implementation of Java and the Java Development Kit.  This is an alternative to the OpenJDK Java version.
Examples: `java -version` and `javac -version`.
]])

-- Local variables
local root = os.getenv("SOFTWARE_ROOT_CBI")

-- Specific to the Linux distribution?
if string.match(myFileName(), "/_" .. os.getenv("CBI_LINUX") .. "/") then
  root = pathJoin(root, "_" .. os.getenv("CBI_LINUX"))
end

local home = pathJoin(root, name .. "-" .. version)

setenv("JAVA_HOME", home)
prepend_path("PATH", pathJoin(home, "bin"))
prepend_path("MANPATH", pathJoin(home, "man"))
prepend_path("LD_LIBRARY_PATH", pathJoin(home, "lib"))
prepend_path("CPATH", pathJoin(home, "include"))

conflict("openjdk")
