help([[
wynton-tools: UCSF Wynton HPC Tools
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: utilities")
whatis("URL: https://github.com/ucsf-wynton/wynton-tools, https://github.com/ucsf-wynton/wynton-tools/blob/master/NEWS.md (changelog)")
whatis([[
Description: The UCSF Wynton HPC Tools is a set of command-line tools that queries different aspects of the UCSF Wynton HPC environment.  These tools may be useful for systems administrators as well as end-users.
Warning: This is work in development, which means that these tools may change, or even be removed, at anytime without notice.
Examples: `wynton --help` and `trash --help`.
]])

if not isDir("/wynton") then
  LmodMessage("NOTE: The '" .. name .. "' module is designed for the UCSF Wynton HPC environment; not all tools may work on your system")
end

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("PATH", pathJoin(home, "bin"))
