help("gmp: The GNU Multiple Precision Arithmetic Library")

local name = myModuleName()
local version = myModuleVersion()
version = string.gsub(version, "^[.]", "") -- for hidden modules
whatis("Version: " .. version)
whatis("Keywords: library, math")
whatis("URL: https://gmplib.org/ (home), https://gmplib.org/manual/ (documentation), https://gmplib.org/download/gmp/ (releases)")
whatis("License: LGPL-3.0-or-later OR GPL-2.0-or-later")
whatis([[
Description: GMP is a free library for arbitrary precision arithmetic, operating on signed integers, rational numbers, and floating-point numbers.
Examples: `gcc -O2 myprogram.c -lgmp` or `g++ -O2 myprogram.cpp -lgmpxx -lgmp`
]])

local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

prepend_path("LD_LIBRARY_PATH", pathJoin(home, "lib"))
prepend_path("LD_RUN_PATH", pathJoin(home, "lib"))
prepend_path("CPATH",  pathJoin(home, "include"))
prepend_path("LIBRARY_PATH", pathJoin(home, "lib"))
prepend_path("PKG_CONFIG_PATH",  pathJoin(home, "lib", "pkgconfig"))
