help("hiredis: A minimalistic C client library for the Redis database")

-- The module is named 'libhiredis' but the software installs as
-- 'hiredis-<version>', so the name cannot come from myModuleName()
local name = "hiredis"
local version = myModuleVersion()
version = string.gsub(version, "^[.]", "") -- for hidden modules
whatis("Version: " .. version)
whatis("Keywords: database, library, redis")
whatis("URL: https://github.com/redis/hiredis (source), https://github.com/redis/hiredis/releases (releases)")
whatis("License: BSD-3-Clause")
whatis([[
Description: Hiredis is a minimalistic C client library for the Redis database. Examples: `pkg-config --cflags --libs hiredis`
]])

local root = os.getenv("SOFTWARE_ROOT_CBI")

-- Specific to the Linux distribution?
if string.match(myFileName(), "/_" .. os.getenv("CBI_LINUX") .. "/") then
  root = pathJoin(root, "_" .. os.getenv("CBI_LINUX"))
end

local home = pathJoin(root, name .. "-" .. version)

prepend_path("LD_LIBRARY_PATH", pathJoin(home, "lib"))
prepend_path("LD_RUN_PATH", pathJoin(home, "lib"))
prepend_path("CPATH",  pathJoin(home, "include"))
prepend_path("LIBRARY_PATH", pathJoin(home, "lib"))
prepend_path("PKG_CONFIG_PATH",  pathJoin(home, "lib", "pkgconfig"))
prepend_path("CMAKE_PREFIX_PATH", home)
