help([[
SnpEff: Genetic Variant Annotation and Effect Prediction Toolbox
]])

local name = myModuleName()
local version = myModuleVersion()
whatis("Version: " .. version)
whatis("Keywords: high-throughput sequencing")
whatis("URL: https://pcingola.github.io/SnpEff/, https://github.com/pcingola/SnpEff/tags (changelog), https://github.com/pcingola/SnpEff (source code)")
whatis([[
Description: SnpEff is a variant annotation and effect prediction tool. It annotates and predicts the effects of variants on genes (such as amino acid changes).
Examples: `snpEff -help` and `SnpSift -help`, which are short for `java -jar $SNPEFF_HOME/snpEff/snpEff.jar -help` and `java -jar $SNPEFF_HOME/snpEff/SnpSift.jar -help`.  In SnpEff (< 5.0), there is also `ClinEff -help`, which is short for `java -jar $SNPEFF_HOME/ClinEff/ClinEff.jar -help`.
]])

local name = "snpEff"
local root = os.getenv("SOFTWARE_ROOT_CBI")
local home = pathJoin(root, name .. "-" .. version)

if (version < "5.1") then
  try_load("openjdk/11")
elseif (version >= "5.1") then
  try_load("openjdk/17")
end

pushenv("SNPEFF_HOME", home)

local jarfile = pathJoin(home, "snpEff", "snpEff.jar")
pushenv("SNPEFF", jarfile)
local bash = 'java -jar "$SNPEFF_HOME/snpEff/snpEff.jar" "$@"'
local csh  = 'java -jar "$SNPEFF_HOME/snpEff/snpEff.jar" $*'
set_shell_function("snpEff", bash, csh)

local jarfile = pathJoin(home, "snpEff", "SnpSift.jar")
pushenv("SNPSIFT", jarfile)
local bash = 'java -jar "$SNPEFF_HOME/snpEff/SnpSift.jar" "$@"'
local csh  = 'java -jar "$SNPEFF_HOME/snpEff/SnpSift.jar" $*'
set_shell_function("SnpSift", bash, csh)

local jarfile = pathJoin(home, "clinEff", "ClinEff.jar")
if isFile(jarfile) then
  pushenv("CLINEFF", jarfile)
  local bash = 'java -jar "$SNPEFF_HOME/ClinEff/ClinEff.jar" "$@"'
  local csh  = 'java -jar "$SNPEFF_HOME/ClinEff/ClinEff.jar" $*'
  set_shell_function("ClinEff", bash, csh)
end

-- Tweak Java for the current environment
depends_on("java-tweaks")
